*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,
body {
    height:100%;
}

html {
    background: linear-gradient(to right, #000000 0%, #82db47  100%);
    font-size: 10px; 
}

body {
    
}
#chat-container {
    min-width:200px;
    max-width: 300px;
    max-height: 300px;
    height: 95vh;
    background: #ffffff;
    border-radius: 10px;
    background:linear-gradient(to right, #abd191, #82db47);
    margin: 50px auto;
}

#messagediv {
    width: 100%;
    height: 80%;
    padding: 5px;
}
#chat-typing {
    float: left;
    width: 80%;
    height: 20%;
    padding: 2px;
    border-top: solid 1px;
    border-right: solid 1px;
}
#send-button {
    float: right;
    width: 20%;
    height: 20%;
    border-top: solid 1px;
    padding: 2px;
}

.messagetable{
    height:100%;
}
.message_bubble{
    border-radius: 5px;
    border: solid 1px;
    padding: 2px;
}

.incoming{
    width:100%;
    display:block;
    float:left;
}

.outgoing{
    display:block;
    float: right;
}

